#URL подключения к PostgreSQL
# aормат: postgresql://пользователь:пароль@хост:порт/имя_бд
#хост "postgres" - имя сервиса из docker-compose.yml
DATABASE_URL=postgresql://postgres:postgres123@postgres:5432/taskmanager

# ОБЯЗАТЕЛЬНО ЗАМЕНИТЕ КЛЮЧ НА СВОЙ!
#для генерации: python -c "import secrets; print(secrets.token_urlsafe(32))"
JWT_SECRET_KEY=your-secret-key-change-this

#алгоритм шифрования JWT
JWT_ALGORITHM=HS256

# время жизни токена в минутах
JWT_EXPIRE_MINUTES=60

# минимальная длина пароля
MIN_PASSWORD_LENGTH=6

#минимальная длина никнейма
MIN_USERNAME_LENGTH=3

# порт сервиса
PORT=8001