#здесь обязательно надо поменять ключ для подписи JWT
DATABASE_URL=postgresql://postgres:postgres123@postgres:5432/taskmanager
JWT_SECRET_KEY=your-secret-key-change-this
JWT_ALGORITHM=HS256 #алгоритм шифрования
JWT_EXPIRE_MINUTES=60 #время жизни токена - 60 минут
PORT=8001