#поделючение к бд
# URL подключения к PostgreSQL (общая БД с auth_service)
# хост "postgres" - имя сервиса из docker-compose.yml
DATABASE_URL=postgresql://postgres:postgres123@postgres:5432/taskmanager

#URL сервиса аутентификации (для проверки JWT токенов)
#при запуске через Docker: http://auth_service:8001
# при локальном запуске: http://localhost:8001
AUTH_SERVICE_URL=http://auth_service:8001

# порт сервиса
PORT=8002