DATABASE_URL=postgresql://postgres:postgres123@postgres:5432/taskmanager #общая БД с auth_service, но свои таблицы (tasks)
AUTH_SERVICE_URL=http://auth_service:8001 #коммуникация с дркгим сервисом
PORT=8002